{% extends "base.html" %}

{% block page_content %}
<h1>MusiQueue</h1>
<ol class="list-group-numbered">
  {% for track in tracks %}
  <li class="list-group-item" style="display: flex; align-items: center; list-style-position: inside;">
    <div class="media" style="display: flex; align-items: stretch;" >
      <img class="mr-3" src="{{ track.img_url }}" style="padding-left: 1em; padding-right: 1em;" alt="Track image">
      <div class="media-body">
        <h5 class="mt-1 mb-2" style="text-overflow: ellipsis; overflow: hidden;">{{ track.name }}</h5>
        {{ track.artists }}
      </div>
    </div>
    <!-- Vote buttons -->
    <div class="votes" style="margin-left: auto;">
      <h5 class="align-middle float-start mt-3">0</h5>
      <div class="btn-group-vertical">
        <button class="btn btn-dark">
          <span class="bi bi-chevron-up"></span>
        </button>
        <button class="btn btn-dark">
          <span class="bi bi-chevron-down"></span>
        </button>
      </div>
    </div>
  </li>
  {% endfor %}
</ol>
{% endblock %}